$color-font: #33d ;
$color-bg-default: #fff;
$color-bg-boxes: #FD3;
$font-default: Arial, Helvetica, sans-serif;

html {
    font-size: 62.5%;
}

body {
    
    font-family: $font-default;
}

h1 {
    color: $color-font;
    text-align: center;
    margin-top: 4rem;
}

h2 {
    margin-top: 4rem;
    text-align: center;
}

#images{
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;

        @media(max-width:800px){
            justify-content: space-around;
        }

        @media(max-width: 600px){
            justify-content: center;
        }

        img {
            max-height: 400px;
            width: auto;
            margin: 5px;
            object-fit: fill;
            object-position: bottom;
            border: 1px solid rgb(189, 185, 185);

            @media(max-width:800px){
                height: 400px;
                width: 48%;
            }

            @media(max-width: 600px){
                height: auto;
                width: 80%;
                
            }

            &:hover{
                opacity: 75%;
            }
        }

    }
}

header{
   
    overflow: hidden;
    background: #111;
    position: relative;
    height: 40vh;

    h1{
        margin-top: 0;
        bottom: -10vh;
        position: relative;
        z-index: 9;
        color: $color-bg-default;
        
    }

    svg{
        min-height: 100%;
    }
}

.waves{
    
   path:nth-child(1){
    animation: desh 5s ease-in-out infinite alternate;
   }

   path:nth-child(2){
    animation: wave2 20s ease-in-out infinite alternate;    
    }

    path:nth-child(3){
    animation: wave3 20s ease-in-out infinite alternate;    
    }
}


@keyframes wave1{
    from{
        transform: translate(-100px);
    }

}

@keyframes wave2{
    from{
        transform: translate(-1500px); 
    }

}


@keyframes wave3{
    from{
        transform: translate(1500px);
    }

}

@keyframes desh{
    from{
        stroke-dashoffset: 2000;
        stroke-dasharray: 100;
        stroke: rgb(132, 134, 12);
    }
}

@import 'player';
